html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.note-browser {
  position: absolute;
  width: 350px;
}

button {
  cursor: pointer;
}

.editor {
  position: absolute;
  margin-left: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid silver;
}

.note-browser h2 {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid silver;
}

.note-list-item {
  height: 68px;
  border-bottom: 1px solid silver;
  padding: 15px;
  word-wrap:break-word;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.note-list-item:hover {
  background-color: #faf7f2;
}

.note-list-item:hover:before {
  border-color: #faf7f2;
}

.note-list-item.selected {
  background-color: #f2f0ed;
}

.note-list-item.selected:before {
  border-color: #f2f0ed;
}

.note-list-item:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 15px solid white;
}

.ProseMirror-content {
  padding: 0 15px;
}

.ProseMirror-menubar {
  padding: 10px;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border:none;
  outline:none;
}
