.page-browser {
  position: absolute;
  width: 350px;
}

.editor {
  position: absolute;
  margin-left: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid #aaa;
}
.page-browser h2 {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #aaa;
}
.page-list-item {
  height: 30px;
  border-bottom: 1px solid #aaa;
  padding: 15px;
  word-wrap:break-word;
}

.ProseMirror-content {
    padding: 15px;
}